.chefs-section{
    &__title {
        position: relative;
        margin:0 auto 24px;
        @media screen and (min-width:$bp-desktop) {
            margin-bottom:80px;
            }
        }
&__title::before,
&__title::after {
   display: none;
    position: absolute;
    width: 352px;
    content: '';
    bottom: 24px;
    border: 2px solid var(--color-brand-light);
    @media screen and (min-width:$bp-desktop) {
        display: block;
        }
}
&__title::before {
    left: 0;
}
&__title::after {
    right: 0;
}
&__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    @media screen and (min-width:$bp-tablet) {
        flex-direction: row;
        gap: 40px 30px;
        }
}
&__item {
    
    @media screen and (min-width:$bp-tablet) {
            flex-basis: calc((100% - 30px) / 2);
        }
}
}









