.footer {
    position: relative;
    background-image: url(../images/footer-background.png);
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 32px;

    text-align: center;
    @media screen and (min-width:$bp-tablet) {
        // padding: 32px 0;
        text-align: left;
        }
    &::before,
    &::after {
        position: absolute;
        background-repeat: no-repeat;
        content: '';
        }
    &::before {
        width: 92px;
        height: 196px;
        left: 0;
        bottom: 260px;
        background-image: url('../images/decor-bread-big-mobile.png');
        @media screen and (min-width:$bp-tablet) {
            background-image: url('../images/decor-bread-small.png');
            width: 180px;
            height: 120px;
            bottom: 0;
            }

    }
    &::after {
        bottom: 0px;
        width: 112px;
        height: 100px;
        right: 0;
        background-image: url('../images/decor-bread-small-mobile.png');
        @media screen and (min-width:$bp-tablet) {
        background-image: url('../images/decor-bread-big.png');
        width: 380px;
        height: 190px;
        bottom: 0;
            }
    }
    &__container {
        position: relative;
        z-index: 1;
        gap: 20px;
        display: flex;
        flex-direction: column;
        @media screen and (min-width:$bp-tablet) {
                bottom: 0;
                flex-basis: 50%;
                flex-direction: row;
            }
        }
    &__nav,
    &__address {
        gap: 20px;
        display: flex;
        flex-direction: column;
        @media screen and (min-width:$bp-tablet) {
            flex-basis: 50%;
                flex-direction: row;
            }
    }
    &__logo,
    &__menu {
        gap: 20px;
        flex-grow: 1;
    }
    &__address-list,
    &__address-info {
        flex-grow: 1;
    
    }
    &__address-link {
        margin-bottom: 16px;
        text-decoration: none;
        color: var(--color-primary-light);
        font-size: 16px;
        font-weight: 300;
    }
    &__address-link:hover {
        color: var(--color-brand-normal);
    }
    &__icon {
        display: flex;
        gap: 22px;
        justify-content: center;
        @media screen and (min-width:$bp-tablet) {
            justify-content: left;
            }
        
    }
    &__address-icon {
        fill: var(--color-primary-light);
    }
    &__address-icon:hover {
        fill: var(--color-brand-normal);
    }
    &__address-copyright {
        color: var(--color-secondary-dark);
        font-size: 14px;
        margin-bottom: 32px;
    }
}
