.footer {
    position: relative;
    background-image: url(../images/footer-background.png);
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 0;
}

.footer::before,
footer::after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: '';
}

.footer::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url('../images/decor-bread-small.png');
}

footer::after {
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url('../images/decor-bread-big.png');
}

.footer-container {
    gap: 20px;
    display: flex;
}

.footer-nav,
.footer-address {
    gap: 20px;
    display: flex;
    flex-basis: 50%;
}

.footer-logo,
.footer-menu {
    gap: 20px;
    flex-grow: 1;
}

.address-list,
.address-info {
    flex-grow: 1;
    
}

.address-link {
    margin-bottom: 16px;
    text-decoration: none;
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
}

.address-link:hover {
    color: var(--color-brand-normal);
}
.footer__icon{
    
    display: flex;
    gap: 22px;
}
.address-icon {
    fill: var(--color-primary-light);
}

.address-icon:hover {
    fill: var(--color-brand-normal);
}

.address-copyright {
    font-size: 14px;
}


/* Modal */
.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    padding: 128px;
    max-height: 880px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    overflow-y: auto;
}

.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
}