.input {
&__label {
        position: absolute;
        top: 16px;
        left: 42px;
    }
&__control
    {
            padding: 16px 42px;
            width: 100%;
            max-width: 605px;
            border: 1px solid var(--color-secondary-dark);
            font-size: 16px;
            line-height: 1.17;
            border-radius: 8px;
            background-color: transparent;
        &:focus {
                border-color: var(--color-brand-normal);
                outline: none;
            }
        &::placeholder {
            font-size: 16px;
            line-height: 1.17;
            border-color: var(--color-secondary-dark);
        }
        &:focus::placeholder {
            color: var(--color-primary-dark);
        }
        }

}


